<template>
    <div>
        <!--<title-bar :title-stack="titleStack"/>-->
        <section class="section is-main-section">
            <form ref="item_form" id="item_form" autocomplete="off">
                <div class="columns">
                    <div class="column">
                        <card-component>
                            <div class="level">
                                <div class="level-left">{{this.title+(this.singleModel?'':' #'+this.modelId)}}</div>
                                <div class="level-right">
                                    <div class="control level-item" v-if="id!=='new'&&form.customActions"
                                         v-for="(action,actionIndex) in form.customActions"
                                         v-bind:key="actionIndex">
                                        <b-button native-type="submit" :type="action.class?action.class:'is-primary'" :loading="actionInProgress[actionIndex]"
                                                  @click="submit($event, actionIndex, action.link)">{{action.label}}
                                        </b-button>
                                    </div>
                                    <div class="control level-item" v-if="form.enableMainActions">
                                        <b-button native-type="submit" type="is-primary" @click="submit($event, 'save')" :loading="actionInProgress['save']">Сохранить
                                        </b-button>
                                    </div>
                                    <div class="control level-item" v-if="form.enableMainActions">
                                        <b-button type="is-primary is-outlined" @click="reset" :loading="actionInProgress['reset']">Сбросить</b-button>
                                    </div>
                                </div>
                            </div>
                        </card-component>
                    </div>
                </div>
                <div class="columns is-multiline">
                    <div :class="'column ' + card.class" v-if="form.cards.length>0"
                         v-for="(card,cardIndex) in form.cards"
                         v-bind:key="cardIndex">
                        <card-component :title="card.title" :icon="card.icon" v-if="card.fields.length"
                                        :key="render_key">
                            <b-field v-for="(field,fieldIndex) in card.fields"
                                     v-if="(modelId!=='new')||((modelId==='new')&&(field.editable!==false))"
                                     v-bind:key="fieldIndex" horizontal :type="field.errors?'is-danger':''"
                                     :message="field.errors?field.errors.join(', '):''">
                                <template slot="label">
                                    {{field.label}}
                                    <span v-if="field.required" style="color:red;">
                                        *
                                    </span>
                                </template>

                                <span v-if="field.editable==false && field.type=='datetime'">{{field.value | moment("DD/MM/YYYY HH:mm:ss") }}</span>
                                <span v-else-if="field.editable==false && field.type=='date'">{{field.value | moment("DD/MM/YYYY") }}</span>
                                <span v-else-if="field.editable==false && field.type=='boolean'">{{field.value==true?'Да':'Нет'  }}</span>

                                <div v-else-if="field.type=='file'">
                                    <file-viewer v-if="field.value!==null" :file="field.value"
                                                 :with-seo="field.withSeo===true"
                                                 :editable="field.editable!=false" style="margin-bottom: 10px;"/>
                                    <file-picker v-if="field.editable!=false" :model="currentModel" :name="field.name"
                                                 :value="field.value" @input="val => field.value = val"
                                                 :with-seo="field.withSeo===true"
                                                 :id="id" :href="field.value"
                                                 :accept="field.accept"
                                                 :protected="field.protected?field.protected:false"
                                                 :required="field.required=='true'"/>
                                </div>

                                <Wysiwyg v-else-if="field.type=='wysiwyg'"
                                         v-model="field.value"
                                         :disabled="field.editable==false"
                                ></Wysiwyg>

                                <div v-else-if="field.type=='gallery'&&field.editable==false"
                                     style="display: flex; flex-direction: column;">
                                    <file-viewer
                                            v-for="(file,index) in field.value"
                                            :file="file"
                                            :with-seo="field.withSeo===true"
                                            style="margin-bottom: 10px;"
                                            v-bind:key="index"/>
                                </div>

                                <gallery-input v-else-if="field.type=='gallery'" :model="currentModel"
                                               :name="field.name"
                                               :with-seo="field.withSeo===true"
                                               :value="field.value" @input="val => field.value = val"
                                               :id="id" :href="field.value"
                                               :protected="field.protected?field.protected:false"
                                               :required="field.required=='true'"/>

                                <b-switch v-else-if="field.type=='boolean'"
                                          v-model="field.value"
                                          :name="field.name"
                                          :true-value=1
                                          :false-value=0>
                                    {{ field.value==true?'Да':'Нет' }}
                                </b-switch>

                                <json-input v-else-if="field.type=='json'"
                                                :field="field"
                                                :type="field.errors?'is-danger':''"
                                                :message="field.errors?field.errors.join(', '):''"
                                                @inputChanged="val=>{field.value=val}"
                                />

                                <relation-input v-else-if="field.type=='relation'"
                                                :field="field"
                                                @inputChanged="val=>{field.value=val}"
                                />

                                <b-select v-else-if="field.type=='select'" v-model="field.value" :name="field.name"
                                          :disabled="field.editable==false">
                                    <option
                                            v-for="(option, optionIndex) in field.values"
                                            :value="option.id"
                                            :key="option.id">
                                        {{ option.value }}
                                    </option>
                                </b-select>

                                <b-datetimepicker v-else-if="field.type=='datetime'"
                                                  :value="field.value ?  $moment(field.value).toDate() : null"
                                                  @input="(val) => {field.value = $moment(val).format('YYYY-MM-DD HH:mm')}"
                                                  icon="calendar-today"
                                                  :datetime-formatter="(date) =>  $moment(date).locale('ru').format('DD/MM/YYYY HH:mm')"
                                                  :datepicker="{
                                                  placeholder:'Выбрать дату и время',
                                                  monthNames:$moment.localeData().monthsShort(),
                                                  dayNames:$moment.localeData().weekdaysShort(),
                                                  firstDayOfWeek:1
                                                  }"
                                                  :timepicker="{ hourFormat: '24' }">
                                </b-datetimepicker>

                                <b-datepicker v-else-if="field.type=='date'"
                                              :value="field.value ? $moment(field.value).toDate() : null"
                                              @input="(val) => {field.value = $moment(val).format()}"
                                              placeholder="Выбрать дату"
                                              :date-formatter="(date) =>  $moment(date).locale('ru').format('DD/MM/YYYY')"
                                              :month-names="$moment.localeData().monthsShort()"
                                              :day-names="$moment.localeData().weekdaysShort()"
                                              :first-day-of-week="1"
                                              icon="calendar-today">
                                </b-datepicker>

                                <map-field v-else-if="field.type=='map'"
                                           :field="field"
                                           @coordsIsSet="value=>{field.value=JSON.stringify(value)}"
                                           style="width: 100%;"/>
                                <b-input v-else-if="field.type=='phone'" :type="field.type" v-model="field.value" :name="field.name"
                                         autocomplete="off" :placeholder="field.placeholder" v-cleave="masks.phone"
                                         :required="field.required=='true'"
                                        @change.native="maskedInput"/>
                                <pre v-else-if="field.editable==false && field.type=='textarea'">{{field.value}}</pre>
                                <span v-else-if="field.editable==false">{{field.value}}</span>
                                <b-input v-else :type="field.type" v-model="field.value" :name="field.name"
                                         autocomplete="off" :placeholder="field.placeholder"
                                         :required="field.required=='true'"/>

                            </b-field>
                        </card-component>
                    </div>
                </div>
            </form>
        </section>
    </div>
</template>

<script>
    import TitleBar from '@/components/TitleBar'
    import CardComponent from '@/components/CardComponent'
    import CheckboxPicker from '@/components/CheckboxPicker'
    import RadioPicker from '@/components/RadioPicker'
    import FilePicker from '@/components/FilePicker'
    import HeroBar from '@/components/HeroBar'
    import {api} from '@/common'
    import FileViewer from "../components/FileViewer";
    import RelationInput from "../components/RelationInput";
    import MapField from "../components/MapField";
    import GalleryInput from "../components/GalleryInput";
    import Wysiwyg from '../components/Wysiwyg'
    import JsonInput from '../components/JsonInput'
    import Cleave from 'cleave.js'

    /**
     * We add a new instance of Cleave when the element
     * is bound and destroy it when it's unbound.
     */
    const cleave = {
        name: 'cleave',
        bind(el, binding) {
            const input = el.querySelector('input')
            input._vCleave = new Cleave(input, binding.value)
        },
        unbind(el) {
            const input = el.querySelector('input')
            input._vCleave.destroy()
        }
    }

    export default {
        directives: { cleave },
        name: 'Detail',
        props: ['model', 'id', 'singleModel'],
        components: {
            GalleryInput,
            MapField,
            RelationInput,
            JsonInput,
            FileViewer, HeroBar, FilePicker, RadioPicker, CheckboxPicker, CardComponent, TitleBar, Wysiwyg
        },
        data() {
            return {
                isLoading: false,
                form: {
                    name: null,
                    email: null,
                    phone: null,
                    department: null,
                    subject: null,
                    question: null
                },
                actionInProgress:[],
                foundModel: null,
                singleTitle: null,
                render_key: 1,
                modelId: 'new',
                redirectOnSave: true,
                masks: {
                    phone: {
                        delimiters: ['+',' ', '(', ')',' ', ' ','-'],
                        blocks: [0,1,0, 3,0, 3, 2,2],
                        numericOnly: true
                    }
                }
            }
        },
        computed: {
            titleStack() {
                return [
                    'Admin',
                    '<a href="/' + this.model + '">' + this.model + '</a>',
                    this.modelId,
                ]
            },
            currentModel() {
                return this.model ? this.model : this.foundModel
            },
            title() {
                return this.singleTitle ? this.singleTitle : _.startCase(_.toLower(this.currentModel));
            }
        },
        created() {
            this.modelId = this.id ? this.id : 'new'
            let path = this.$route.path
            if (!this.singleModel)
                path = path.substr(0, this.$route.path.lastIndexOf("/"))

            let modelData = this.$store.getters.MODELS.find((item) => {
                return path === item.path
            })
            if (modelData !== undefined) {
                this.foundModel = modelData.model
                this.singleTitle = modelData.singleTitle
                this.redirectOnSave = modelData.redirectOnSave
                this.getData()
            } else {
                 this.$router.push({name: 'home'})
            }
        },
        methods: {
            maskedInput(event) {
                this.rawValue = event.target._vCleave.getRawValue()
                this.value = event.target._vCleave.getFormattedValue()
            },
            getData() {
                this.isLoading = true
                let link = ''
                if (this.singleModel) {
                    link = `/tables/single_model/${this.currentModel}`
                } else {
                    if (this.modelId === 'new')
                        link = `/tables/${this.currentModel}/create`
                    else
                        link = `/tables/${this.currentModel}/${this.modelId}/edit`
                }

                api.get(link)
                    .then(r => {
                        this.isLoading = false
                        if (r.data) {
                            this.form = r.data
                            this.modelId = r.data.id
                        }
                    })
                    .catch(err => {
                        this.isLoading = false
                        this.$buefy.toast.open({
                            message: `Ошибка: ${err.response.data.message}`,
                            type: 'is-danger',
                            queue: false
                        })
                    })

            },
            async submit(e, buttonIndex, actionLink = null, params = []) {
                var form = document.getElementById("item_form");
                if (form.checkValidity()) {
                    e.preventDefault();
                } else {
                    return false
                }
                this.isLoading = true

                this.$set(this.actionInProgress, buttonIndex, true)

                let submitData = {};
                this.form.cards.map((card) => {
                    card.fields.map((field) => {
                        if (field.type === 'boolean' && field.value === null)
                            field.value = 0;

                        if (field.name !== 'updated_at' && !(field.type === 'password' && field.value === null))
                            submitData[field.name] = field.value

                    })

                })

                params.map((param) => {
                    submitData[param.name] = param.value
                })

                let link = '';
                if (this.modelId === 'new') {
                    link = `/tables/${this.currentModel}`
                } else {
                    link = `/tables/${this.currentModel}/${this.modelId}`
                    if (actionLink !== null) {
                        link = link + `/${actionLink}`
                    }
                }

                api.post(link, submitData)
                    .then(r => {
                        this.isLoading = false
                        this.$set(this.actionInProgress, buttonIndex, false)

                        if (r.data) {
                            if(r.data.vueadmin_downloadfile){
                                let filename = r.data.vueadmin_downloadfile.split('/').pop()
                                const link = document.createElement('a');
                                link.href = r.data.vueadmin_downloadfile;
                                link.setAttribute('download', filename);
                                document.body.appendChild(link);
                                link.click();
                                document.body.removeChild(link);
                            }
                            else if(r.data.errors || r.status !== 200) {
                                this.$buefy.toast.open({
                                    message: `Error: ${r.data.message}`,
                                    type: 'is-danger',
                                    queue: false
                                })
                            } else if (r.data.message) {
                                if (r.data.title) {
                                    this.showModal(r.data)
                                } else {
                                    this.$buefy.toast.open({
                                        message: r.data.message.text,
                                        type: r.data.message.success ? 'is-success' : 'is-danger',
                                        queue: false
                                    })
                                }
                            } else {
                                if (this.singleModel || this.redirectOnSave === false) {
                                    if(this.modelId==='new'){
                                        let newId = r.data
                                        this.$router.push({name: 'detail', params: {model: this.currentModel, id:newId}})
                                    }
                                    this.$buefy.toast.open({
                                        message: 'Сохранено',
                                        type: 'is-success',
                                        queue: false
                                    })
                                    this.reset(true)
                                } else
                                    this.$router.push({name: 'list', params: {model: this.currentModel}})
                            }
                        }
                    })
                    .catch((err) => {
                        this.isLoading = false
                        this.$set(this.actionInProgress, buttonIndex, false)
                        if (err.response.status === 422) {
                            if (err.response.data.errors) {
                                this.form.cards.map((card, cardIndex) => {
                                    card.fields.map((field, fieldIndex) => {
                                        if (err.response.data.errors[field.name])
                                            this.form.cards[cardIndex].fields[fieldIndex].errors = err.response.data.errors[field.name]
                                        else
                                            this.form.cards[cardIndex].fields[fieldIndex].errors = null
                                    })

                                })
                            }
                        }
                        if (err.response.data.title) {
                            this.showModal(err.response.data)
                        } else {
                            this.$buefy.toast.open({
                                message: `Ошибка ${err.response.status}: ${err.response.data.message}`,
                                type: 'is-danger',
                                queue: false
                            })
                        }
                    })
            },
            showModal(data) {
                this.$buefy.dialog.alert({
                    title: data.title,
                    message: data.message,
                    confirmText: data.button,
                    type: 'is-success',
                })
            },
            reset(hideMessage = false) {
                this.getData()
                this.render_key++
                if (hideMessage === false) {
                    this.$buefy.snackbar.open({
                        message: 'Поля сброшены',
                        queue: false
                    })
                }
            }
        }
    }
</script>
