<template>
  <div>
    <!--<title-bar :title-stack="titleStack"/>-->
    <!--<hero-bar :has-right-visible="false">-->
      <!--Dashboard-->
    <!--</hero-bar>-->
    <section class="section is-main-section">
      <!--<tiles>-->
        <!--<card-widget class="tile is-child" type="is-primary" icon="account-multiple" :number="512" label="Clients"/>-->
        <!--<card-widget class="tile is-child" type="is-info" icon="cart-outline" :number="7770" prefix="$" label="Sales"/>-->
        <!--<card-widget class="tile is-child" type="is-success" icon="chart-timeline-variant" :number="256" suffix="%" label="Performance"/>-->
      <!--</tiles>-->

      <card-component title="Административный раздел">
        <h2>Выберете раздел в меню</h2>
        <!--<div v-if="defaultChart.chartData" class="chart-area">-->
          <!--<line-chart style="height: 100%"-->
                      <!--ref="bigChart"-->
                      <!--chart-id="big-line-chart"-->
                      <!--:chart-data="defaultChart.chartData"-->
                      <!--:extra-options="defaultChart.extraOptions">-->
          <!--</line-chart>-->
        <!--</div>-->
      </card-component>

      <!--<card-component title="Clients" class="has-table has-mobile-sort-spaced">-->
        <!--<clients-table-sample data-url="/clients"/>-->
      <!--</card-component>-->
    </section>
  </div>
</template>

<script>
// @ is an alias to /src
import * as chartConfig from '@/components/Charts/chart.config'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
import Tiles from '@/components/Tiles'
import CardWidget from '@/components/CardWidget'
import CardComponent from '@/components/CardComponent'
import LineChart from '@/components/Charts/LineChart'
import ClientsTableSample from '@/components/ClientsTableSample'
export default {
  name: 'home',
  components: {
    ClientsTableSample,
    LineChart,
    CardComponent,
    CardWidget,
    Tiles,
    HeroBar,
    TitleBar
  },
  data () {
    return {
      defaultChart: {
        chartData: null,
        extraOptions: chartConfig.chartOptionsMain
      }
    }
  },
  computed: {

  },
  mounted () {
  },
  methods: {

  }
}
</script>
