<template>
    <div>
        <section class="section is-main-section">
            <b-collapse class="card" aria-id="filter-card" v-if="filters" :open="filterIsOpened" @open="onFilterOpen"
                        @close="onFilterClose">
                <div
                        slot="trigger"
                        slot-scope="props"
                        class="card-header"
                        role="button"
                        aria-controls="filter-card">
                    <p class="card-header-title">
                        <b-icon
                                icon="filter" custom-size="default" :type="filterIsActive?'is-success':'is-danger'">
                        </b-icon>
                        Фильтр
                    </p>
                    <a class="card-header-icon">
                        <b-icon
                                :icon="props.open ? 'menu-down' : 'menu-up'">
                        </b-icon>
                    </a>
                </div>
                <div class="card-content">
                    <b-field horizontal v-for="(filter, filterKey) in filters" :key="filterKey" :label="filter.label">
                        <template slot="label" class="is-flex">
                            {{filter.label}}
                        </template>
                        <div class="control">
                            <b-switch v-if="filter.type=='boolean'" v-model="filter.value">{{filter.label}}</b-switch>
                            <b-select v-else-if="filter.type=='select'" v-model="filter.value">
                                <option
                                        v-for="(option, optionIndex) in filter.values"
                                        :value="option.id"
                                        :key="option.id">
                                    {{ option.value }}
                                </option>
                            </b-select>
                            <div v-else>
                                <b-input v-model="filter.value" :type="filter.type" label="test"/>
                            </div>
                        </div>
                    </b-field>
                    <div class="level">
                        <div class="level-left"></div>
                        <div class="level-right">
                            <button type="button" class="button is-primary level-item"
                                    @click="activateFilter">
                                <span>Применить</span>
                            </button>
                            <button type="button" class="button is-danger level-item"
                                    @click="deactivateFilter">
                                <span>Отменить</span>
                            </button>
                            <button type="button" class="button is-info level-item"
                                    @click="filterReset">
                                <span>Сбросить</span>
                            </button>
                        </div>
                    </div>
                </div>
            </b-collapse>
            <card-component class="has-table has-mobile-sort-spaced" :title="title" :icon="icon">
                <card-toolbar>
                    <section slot="right" v-if="showListActions">

                        <b-button native-type="submit" class="button  is-primary"
                                  @click="isImportModalActive=true" v-if="excelImportEnabled">
                            <span>Импорт</span>
                        </b-button>

                        <b-button native-type="submit" class="button  is-primary" :loading="exportInProgress"
                                  @click="excelExport" v-if="excelExportEnabled">
                            <span>Экспорт</span>
                        </b-button>

                        <router-link :to="'/'+slug+'/new'" class="button  is-primary m-right-10" slot="right"
                                     style="margin-right: 15px;" :disabled="disableCreation!==false"
                                     :title="disableCreation">
                            Добавить
                        </router-link>

                        <button slot="right" type="button" class="button is-danger has-checked-rows-number"
                                @click="trashModal(null)" :disabled="!checkedRows.length">
                            <b-icon icon="trash-can" custom-size="default"/>
                            <span>Удалить</span>
                            <span v-show="!!checkedRows.length">({{ checkedRows.length }})</span>
                        </button>
                    </section>

                </card-toolbar>

                <modal-trash-box :is-active="isModalActive" :trash-subject="trashSubject" @confirm="trashConfirm"
                                 @cancel="trashCancel"/>

                <b-table
                        :checked-rows.sync="checkedRows"
                        :checkable="true"
                        :loading="isLoading"

                        paginated
                        backend-pagination
                        :total="total"
                        :per-page="perPage"
                        @page-change="onPageChange"
                        :current-page="page"

                        aria-next-label="Next page"
                        aria-previous-label="Previous page"
                        aria-page-label="Page"
                        aria-current-label="Current page"

                        backend-sorting
                        :default-sort="[sortField, sortOrder]"
                        @sort="onSort"

                        sort-icon="arrow-up"
                        sort-icon-size="is-small"

                        :striped="true"
                        :hoverable="true"
                        :data="items"
                >
                    <template slot-scope="props">
                        <b-table-column v-for="(column,index) in columns" :label="column.label"
                                        v-bind:key="index" :centered="true" :width="column.width?column.width:''"
                                        :sortable="Boolean(column.sortable)" :field="column.name">
                            <file-viewer v-if="column.type==='file' && props.row[column.name]"
                                         :file="props.row[column.name]"
                                         style="max-width:200px; margin: auto;" :with-inputs="false"
                                         :with-seo="column.withSeo"/>
                            <b-icon icon="check-circle" size="is-big" type="is-success"
                                    v-else-if="column.type==='boolean'&&props.row[column.name]==true"/>
                            <b-icon icon="close-circle" size="is-big" type="is-danger"
                                    v-else-if="column.type==='boolean'"/>
                            <relation-viewer icon="close-circle" size="is-big" type="is-danger"
                                             :value="props.row[column.name]" :field="column"
                                             v-else-if="column.type==='relation'"/>
                            <div v-else-if="column.type==='wysiwyg'" v-html="props.row[column.name]"
                                 class="wysiwyg"></div>
                            <span v-else-if="column.type==='datetime'">{{dateTime(props.row[column.name],"D/M/Y HH:mm") }}</span>
                            <span v-else-if="column.type==='date'">{{dateTime(props.row[column.name],"D/M/Y") }}</span>
                            <span v-else-if="column.type==='select'">{{ selectValue(props.row[column.name], column.values)}}</span>
                            <span v-else>{{props.row[column.name]}}</span>
                        </b-table-column>

                        <b-table-column custom-key="actions" label="Изменить" class="is-actions-cell" width="100">
                            <div class="buttons is-center">
                                <router-link
                                        :to="{ name: 'detail', params: {slug: slug, id:props.row.id, model:model} }"
                                        class="button is-small is-primary">
                                    <b-icon icon="account-edit" size="is-small"/>
                                </router-link>
                                <button class="button is-small is-danger" type="button"
                                        v-if="showListActions"
                                        @click.prevent="trashModal(props.row)">
                                    <b-icon icon="trash-can" size="is-small"/>
                                </button>
                            </div>
                        </b-table-column>
                    </template>
                    <section class="section" slot="bottom-left">
                        <label>На странице: </label>
                        <b-dropdown position="is-top-left" aria-role="menu" v-model="perPage" @change="onPerPageChange">
                            <button class="button" slot="trigger">
                                <span>{{perPage}}</span>
                                <b-icon icon="menu-up"></b-icon>
                            </button>

                            <b-dropdown-item aria-role="listitem" value="10">10</b-dropdown-item>
                            <b-dropdown-item aria-role="listitem" value="25">25</b-dropdown-item>
                            <b-dropdown-item aria-role="listitem" value="50">50</b-dropdown-item>
                        </b-dropdown>
                    </section>
                    <section class="section" slot="empty">
                        <div class="content has-text-grey has-text-centered">
                            <template v-if="isLoading">
                                <p>
                                    <b-icon icon="dots-horizontal" size="is-large"/>
                                </p>
                                <p>Загрузка...</p>
                            </template>
                            <template v-else>
                                <p>
                                    <b-icon icon="emoticon-sad" size="is-large"/>
                                </p>
                                <p>Ничего нет&hellip;</p>
                            </template>
                        </div>
                    </section>
                </b-table>
            </card-component>
            <b-modal
                    :active="isImportModalActive"
                    has-modal-card
                    v-on:close="isImportModalActive=false"
                    v-on:template="downloadExcelTemplate()"
                    v-on:import="importExcel"
                    :can-cancel="false">
                <modal-form v-bind="importForm"></modal-form>
            </b-modal>
        </section>
    </div>

</template>

<script>
    import map from 'lodash/map'
    import CardComponent from '@/components/CardComponent'
    import ModalBox from '@/components/ModalBox'
    import TitleBar from '@/components/TitleBar'
    import HeroBar from '@/components/HeroBar'
    import CardToolbar from '@/components/CardToolbar'
    import ModalTrashBox from '@/components/ModalTrashBox'
    import {api} from '@/common'
    import FileViewer from "../components/FileViewer";
    import Icon from "buefy";
    import RelationViewer from "../components/RelationViewer";
    import BInput from "buefy/src/components/input/Input";
    import moment from "moment";

    const ModalForm = {
        props: ['importInProgress', 'templateFileDownloading'],
        data() {
            return {
                file: null
            }
        },
        template: `
            <div class="modal-card" style="width: 100%; max-width: 700px">
                <header class="modal-card-head">
                    <p class="modal-card-title">Импорт *.xlsx файла</p>
                    <button
                            type="button"
                            class="delete"
                            @click="$parent.close()"/>
                </header>
                <section class="modal-card-body">
                    <b-field type="is-primary" class="file" style="margin-bottom:10px;">
                        <b-upload v-model="file" accept=".xlsx">
                            <a class="button is-primary">
                                <span>Выбрать файл</span>
                            </a>
                            <div v-if="file" class="control">
                                <a class="button is-static is-file-upload-label">
                                    <span :title="file.name">{{ file.name }}</span>
                                </a>
                            </div>
                        </b-upload>
                    </b-field>
                    <b-button native-type="submit" class="button  is-warning" :loading="templateFileDownloading"
                              @click="$parent.$emit('template')">
                        <span>Скачать шаблон</span>
                    </b-button>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" type="button" @click="$parent.close()">Закрыть</button>
                    <b-button native-type="submit" class="button  is-primary" :loading="importInProgress"  :disabled="!file"
                              @click="$parent.$emit('import', file)">
                        <span>Импортировать</span>
                    </b-button>
                </footer>
            </div>
        `,
    }

    export default {
        name: "List",
        components: {
            BInput,
            RelationViewer,
            ModalForm,
            Icon, FileViewer, ModalTrashBox, CardToolbar, HeroBar, TitleBar, ModalBox, CardComponent
        },
        props: ['slug'],
        data() {
            return {
                isModalActive: false,
                isImportModalActive: false,
                trashObject: null,
                items: [],
                filters: null,
                isLoading: false,
                filterIsOpened: false,
                checkedRows: [],
                columns: [],
                total: 0,
                loading: false,
                sortField: 'id',
                sortOrder: 'desc',
                defaultSortOrder: 'desc',
                page: 1,
                perPage: 25,
                model: '',
                title: '',
                filterIsActive: false,
                showListActions: true,
                disableCreation: false,
                excelImportEnabled: false,
                excelExportEnabled: false,
                exportInProgress: false,
                importForm: {
                    importInProgress: false,
                    templateFileDownloading: false
                }
            }
        },
        computed: {
            trashSubject() {
                if (this.trashObject) {
                    return this.trashObject.name
                }

                if (this.checkedRows.length) {
                    return `${this.checkedRows.length} записи`
                }

                return null
            }
        },
        created() {
            let modelData = this.$store.getters.MODELS.find((item) => {
                return this.$route.path === item.path
            })
            if (modelData)
                this.model = modelData.model
            else {
                this.$router.push({name: 'home'})
            }

            this.icon = modelData.icon
            this.title = modelData.title
            this.sortField = modelData.sort ? modelData.sort : this.sortField
            this.sortOrder = modelData.order ? modelData.order : this.sortOrder
            this.showListActions = modelData.showListActions

            const urlParams = new URLSearchParams(window.location.search);
            const urlFilter = JSON.parse(urlParams.get('filter'))
            const storedFilters = this.$store.getters.FILTERS[this.model] ? this.$store.getters.FILTERS[this.model] : null;
            const page = urlParams.get('page')
            if (page > 0)
                this.page = parseInt(page)
            if (urlFilter) {
                this.filters = urlFilter
                this.filterIsOpened = true
                this.filterIsActive = true
            } else if (storedFilters) {
                if (storedFilters.hasOwnProperty('filters'))
                    this.filters = storedFilters.filters
                if (storedFilters.hasOwnProperty('opened'))
                    this.filterIsOpened = storedFilters.opened
                if (storedFilters.hasOwnProperty('active'))
                    this.filterIsActive = storedFilters.active
            }
            this.getData()
        },
        methods: {
            getData(sendFilter = true, updateFilter = true) {
                let params = [
                    `page=${this.page}`,
                    `perPage=${this.perPage}`
                ]

                if (this.sortField != null) {
                    params.push(`sort_by=${this.sortField}.${this.sortOrder}`)
                }

                if (this.filterIsActive && sendFilter) {
                    params.push('filter=' + JSON.stringify(this.filters))
                }
                const urlParams = params.join('&')
                this.isLoading = true
                api.get(`/tables/${this.model}?${urlParams}`)
                    .then(r => {
                        this.isLoading = false
                        if (r.data) {
                            if (r.data.length > this.perPage) {
                                this.paginated = true
                            }
                            this.items = r.data.data
                            this.columns = r.data.columns
                            if (updateFilter)
                                this.filters = r.data.filters ? r.data.filters : null

                            this.perPage = r.data.meta.per_page
                            this.total = r.data.meta.total
                            this.disableCreation = r.data.disableCreation;
                            this.excelExportEnabled = r.data.excelExportEnabled === true
                            this.excelImportEnabled = r.data.excelImportEnabled === true
                        }
                    })
                    .catch(err => {
                        this.isLoading = false
                        this.$buefy.toast.open({
                            message: `Ошибка ${err.response.status}: ${err.response.data.message}`,
                            type: 'is-danger',
                            queue: false
                        })
                    })
            },
            async excelExport() {
                this.exportInProgress = true
                let params = '';
                if (this.filterIsActive) {
                    params = '?filter=' + JSON.stringify(this.filters)
                }
                api.get(`/tables/${this.model}/excelExport` + params)
                    .then(r => {
                        if (r.data.vueadmin_downloadfile) {
                            let filename = r.data.vueadmin_downloadfile.split('/').pop()
                            const link = document.createElement('a');
                            link.href = r.data.vueadmin_downloadfile;
                            link.setAttribute('download', filename);
                            document.body.appendChild(link);
                            link.click();
                            document.body.removeChild(link);
                        }
                        this.exportInProgress = false
                    })
                    .catch(err => {
                        this.$buefy.toast.open({
                            message: `Ошибка ${err.response.status}: ${err.response.data.message}`,
                            type: 'is-danger',
                            queue: false
                        })

                    })
            },
            showModal(data) {
                this.$buefy.dialog.alert({
                    title: data.title,
                    message: data.message,
                    confirmText: data.button,
                    type: 'is-success',
                })
            },
            downloadExcelTemplate() {
                this.importForm.templateFileDownloading = true
                api.get(`/tables/${this.model}/excelTemplate`)
                    .then(r => {
                        if (r.data.vueadmin_downloadfile) {
                            let filename = r.data.vueadmin_downloadfile.split('/').pop()
                            const link = document.createElement('a');
                            link.href = r.data.vueadmin_downloadfile;
                            link.setAttribute('download', filename);
                            document.body.appendChild(link);
                            link.click();
                            document.body.removeChild(link);
                        }
                        this.importForm.templateFileDownloading = false
                    })
                    .catch(err => {
                        this.$buefy.toast.open({
                            message: `Ошибка ${err.response.status}: ${err.response.data.message}`,
                            type: 'is-danger',
                            queue: false
                        })
                        this.importForm.templateFileDownloading = false
                    })
            },
            importExcel(file) {
                this.importForm.importInProgress = true
                this.isImportModalActive = false
                let submitData = new FormData;
                submitData.append('file', file)
                api.post(`/tables/${this.model}/excelImport`, submitData).then(r => {
                    this.importForm.importInProgress = false
                    if (r.data) {
                        if (r.data.success) {
                                this.$buefy.dialog.alert({
                                    title: 'Импорт завершен успешно',
                                    message: r.data.message,
                                    confirmText: 'Закрыть',
                                    type: 'is-success',
                                    onConfirm: ()=>this.getData()
                                })
                        }else {
                            this.$buefy.dialog.alert({
                                title: 'Ошибка импорта',
                                message: r.data.message,
                                confirmText: 'Закрыть',
                                type: 'is-success',
                                onConfirm: ()=>this.getData()
                            })
                        }
                    }


                })
                    .catch((err) => {
                        this.isLoading = false
                        this.$buefy.toast.open({
                            message: `Ошибка ${err.response.status}: ${err.response.data.message}`,
                            type: 'is-danger',
                            queue: false
                        })
                        this.importForm.importInProgress = false
                    })
            },
            selectValue(id, values) {
                let val = null
                values.some(function (el) {
                    return el.id == id ? ((val = el.value), true) : false
                })
                return val
            },
            onPageChange(page) {
                this.page = page
                this.getData()
            },
            onPerPageChange(count) {
                this.perPage = count
                this.getData()
            },
            onSort(field, order) {
                this.sortField = field
                this.sortOrder = order
                this.getData()
            },
            trashModal(trashObject = null) {
                if (trashObject || this.checkedRows.length) {
                    this.trashObject = trashObject
                    this.isModalActive = true
                }
            },
            activateFilter() {
                this.filterIsActive = true
                this.$store.commit('filters', {
                    'model': this.model,
                    'filters': this.filters,
                    'active': this.filterIsActive,
                })
                this.getData()
            },
            deactivateFilter() {
                this.filterIsActive = false
                this.$store.commit('filters', {
                    'model': this.model,
                    'filters': this.filters,
                    'active': this.filterIsActive,
                })
                this.getData(false, false)
            },
            filterReset() {
                this.filterIsActive = false
                this.$store.commit('filters', {
                    'model': this.model,
                    'filters': false,
                    'active': this.filterIsActive,
                })
                this.getData(false, true)
            },
            onFilterOpen() {
                this.$store.commit('filters', {
                    'model': this.model,
                    'opened': true,
                })
            },
            onFilterClose() {
                this.$store.commit('filters', {
                    'model': this.model,
                    'opened': false,
                })
            },
            dateTime(value, format) {
                if (value === null)
                    return '';

                return this.$moment.tz(value, 'UTC').local().format(format)
            },
            trashConfirm() {
                let url
                let method
                let data = null

                this.isModalActive = false

                if (this.trashObject) {
                    method = 'delete'
                    url = `/tables/${this.model}/${this.trashObject.id}`
                } else if (this.checkedRows.length) {
                    method = 'delete'
                    url = `/tables/${this.model}`
                    data = {
                        ids: map(this.checkedRows, row => row.id)
                    }
                }

                api({
                    method,
                    url,
                    data
                }).then(r => {
                    this.getData()

                    this.trashObject = null
                    this.checkedRows = []

                    this.$buefy.snackbar.open({
                        message: `Удалено`,
                        queue: false
                    })
                }).catch(err => {
                    if (err.response.data.title) {
                        this.showModal(err.response.data)
                    } else {
                        this.$buefy.toast.open({
                            message: `Ошибка ${err.response.status}: ${err.response.data.message}`,
                            type: 'is-danger',
                            queue: false
                        })
                    }
                })
            },
            trashCancel() {
                this.isModalActive = false
            }
        }
    }
</script>
<style>

    .wysiwyg {
        all: initial;
    }

    .wysiwyg table * {
        all: revert;
    }

</style>