<template>
    <div>

        <section class="section is-main-section">

            <card-component title="Файл robots.txt">
                <b-field>
                    <b-input type="textarea" v-model="robots" name="robots" autocomplete="off"/>
                </b-field>
                <b-button native-type="submit" type="is-primary"
                          @click="saveRobots">Сохранить
                </b-button>
            </card-component>

            <card-component title="Файл sitemap.xml">
                <b-field>
                    <b-input type="textarea" v-model="sitemap" name="robots" autocomplete="off"/>
                </b-field>
                <b-button native-type="submit" type="is-primary"
                          @click="saveSiteMap">Сохранить
                </b-button>
            </card-component>


        </section>
    </div>
</template>

<script>
    // @ is an alias to /src

    import CardComponent from '@/components/CardComponent'
    import {api} from '@/common'
    import BField from "buefy/src/components/field/Field";

    export default {
        name: 'home',
        components: {BField, CardComponent},
        data() {
            return {
                robots: '',
                sitemap: ''
            }
        },
        computed: {},
        mounted() {
            api.get('/public_files/robots')
                .then(r => {
                    this.isLoading = false
                    if (r.data) {
                        this.robots = r.data
                    }
                })
                .catch(err => {
                    this.isLoading = false
                    this.$buefy.toast.open({
                        message: `Error: ${err.message}`,
                        type: 'is-danger',
                        queue: false
                    })
                })

            api.get('/public_files/sitemap')
                .then(r => {
                    this.isLoading = false
                    if (r.data) {
                        this.sitemap = r.data
                    }
                })
                .catch(err => {
                    this.isLoading = false
                    this.$buefy.toast.open({
                        message: `Error: ${err.message}`,
                        type: 'is-danger',
                        queue: false
                    })
                })
        },
        methods: {
            saveRobots() {
                this.submit('public_files/robots', {text: this.robots})
            },
            saveSiteMap() {
                this.submit('public_files/sitemap', {text: this.sitemap})
            },
            submit(link, data) {
                api.post(link, data)
                    .then(r => {
                        this.isLoading = false
                        if (r.data) {
                            if (r.data.errors || r.status !== 200) {
                                this.$buefy.toast.open({
                                    message: `Error: ${r.data.message}`,
                                    type: 'is-danger',
                                    queue: false
                                })
                            } else if (r.data.message) {
                                this.$buefy.toast.open({
                                    message: r.data.message.text,
                                    type: r.data.message.success ? 'is-success' : 'is-danger',
                                    queue: false
                                })
                            }
                        }
                    })
                    .catch(err => {
                        this.isLoading = false
                        this.$buefy.toast.open({
                            message: `Error: ${err.message}`,
                            type: 'is-danger',
                            queue: false
                        })
                    })
            }
        }
    }
</script>
