.vue-dropzone {
  overflow: hidden;
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  text-overflow: unset !important;
}


.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px 16px 80px 16px !important;
  min-height: 100px;
  max-height: 200px;
}


.vue-dropzone > .dz-preview .dz-remove {
  position: absolute;
  z-index: 30;
  color: #fff;
  margin-left: 15px;
  padding: 10px;
  top: inherit;
  bottom: 15px;
  border: 2px #fff solid;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 800;
  letter-spacing: 1.1px;
  opacity: 0
}

.vue-dropzone > .dz-preview:hover .dz-remove {
  opacity: 1
}


.dropzone .dz-preview .dz-download {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}

.vue-dropzone > .dz-preview .dz-download {
  position: absolute;
  z-index: 30;
  color: #fff;
  margin-left: 15px;
  padding: 10px;
  top: inherit;
  bottom: 65px;
  border: 2px #fff solid;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 800;
  letter-spacing: 1.1px;
  opacity: 0
}

.vue-dropzone > .dz-preview:hover .dz-download {
  opacity: 1
}

.dropzone .dz-preview .dz-download:hover {
  text-decoration: underline;
}

.vue-dropzone .dz-details {
  cursor: grab !important;
}

.vue-dropzone .dz-preview .dz-meta-inputs {

}

.vue-dropzone .dz-preview .dz-meta-inputs .dz-alt-input {
  width: 100%;
  height: 30px;
  margin: 5px 0 0 0;
  border: 2px solid #e5e5e5;
}


.vue-dropzone .dz-preview .dz-meta-inputs .dz-title-input {
  width: 100%;
  height: 30px;
  margin: 5px 0 0 0;
  border: 2px solid #e5e5e5;
}

.vue-dropzone .dz-preview .dz-image {
  max-height: 200px;
}

.vue-dropzone .dz-preview .dz-image > img {
  max-width: 250px;
  margin: 0 auto;
  width: 100% !important;
  height: 200px !important;
  object-fit: contain
}


.vue-dropzone .dz-preview .dz-details .dz-size {
  display: none;
}

.vue-dropzone .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}

.is-dragging img {
  filter: none !important;
}

.is-dragging .dz-details {
  opacity: 0 !important;
}

.is-dragging .dz-remove {
  opacity: 0 !important;
}

.is-dragging .dz-download {
  opacity: 0 !important;
}