.modal-card {
  width: $modal-card-width;
}

.modal-card-foot {
  border-top: 1px solid #dbdbdb;
  background-color: $modal-card-foot-background-color;
}

@include mobile {
  .modal .animation-content .modal-card {
    width: $modal-card-width-mobile;
    margin: 0 auto;
  }
}

.modal-card-head {
  border-bottom: 1px solid #dbdbdb;
}