<template>
    <aside
            v-show="isAsideVisible"
            class="aside is-placed-left is-expanded">
        <vue-custom-scrollbar class="scroll-area" :settings="settings">
            <div style="max-height: 100vh;">
                <aside-tools :is-main-menu="true">
      <span slot="label">
          <b>{{$store.getters.ADMIN_TITLE}}</b>
      </span>
                </aside-tools>
                <div class="menu is-menu-main">
                    <template v-for="(menuGroup, index) in menu">
                        <p class="menu-label" :key="index"
                           @click="toggle(index)"
                           :aria-controls="'menu_list_'+index"
                        >{{ menuGroup.name }}
                        </p>
                        <b-collapse
                                :aria-id="'menu_list_'+index"
                                class="panel"
                                animation="slide"
                                :open.sync="menuGroup.opened">
                            <aside-menu-list
                                    :key="index+'-list'"
                                    @menu-click="menuClick"
                                    :menu="menuGroup.items"/>
                        </b-collapse>
                    </template>
                </div>
            </div>
        </vue-custom-scrollbar>
    </aside>
</template>

<script>
    import {mapState} from 'vuex'
    import AsideTools from '@/components/AsideTools'
    import vueCustomScrollbar from 'vue-custom-scrollbar'

    export default {
        name: 'AsideMenu',
        components: {AsideTools, vueCustomScrollbar},
        props: {
            menu: {
                type: Array,
                default: () => []
            }
        },
        data() {
            return {
                settings: {
                    maxScrollbarLength: 60
                },
                opened: {}
            }
        },

        computed: {
            ...mapState([
                'isAsideVisible'
            ]),
        },
        methods: {
            menuClick(item) {
                //
            },
            toggle(id) {
                this.menu[id].opened = !this.menu[id].opened;
                this.$cookie.set('menu[' + id + '].opened', this.menu[id].opened, { expires: 'Tue, 19 Jan 2038 03:14:07 UTC' });
            }
        }
    }
</script>
