<template>
  <div>
    <b-field>
      <img v-if="fileHref&&isImage" :src="fileHref">
      <a v-else-if="fileHref" :download="fileName" :href="fileHref" style="word-break: break-word;">скачать
        {{fileName}}</a>
    </b-field>
    <b-field v-if="withSeo&&showInputs&&fileHref&&isImage&&('alt' in file)" class="file-viewer-meta-input">
      <b-input v-model="file.alt" type="text" name="alt" placeholder="alt" :disabled="!this.editable"/>
    </b-field>
    <b-field v-if="withSeo&&showInputs&&fileHref&&isImage&&('title' in file)" class="file-viewer-meta-input">
      <b-input v-model="file.title" type="text" name="title" placeholder="title" :disabled="!this.editable"/>
    </b-field>
  </div>
</template>

<script>
  import {api} from '@/common'
  import BField from "buefy/src/components/field/Field";
  import BInput from "buefy/src/components/input/Input";

  export default {
    name: 'FileViewer',
    components: {BInput, BField},
    props: ['editable', 'file', 'withSeo', 'withInputs'],
    data() {
      return {
        showInputs: this.withInputs !== false
      }
    },
    computed: {

      fileHref() {
        let href = null
        if (!this.file)
          return href

        if (this.withSeo) href = this.file.src
        else href = this.file
        if (href.substring(0, 4) === 'http')
          return href

        return window.location.protocol + '//' + window.location.host + '/storage/' + href
      },
      fileName() {
        if (!this.file)
          return null
        return this.fileHref.substring(this.fileHref.lastIndexOf('/') + 1);
      },
      fileType() {
        if (!this.file)
          return null

        return this.fileHref.split(".").pop()
      },
      isImage() {
        if (!this.file)
          return null
        let match = this.fileType.toLowerCase().match(/(jpg|jpeg|png|gif)/);
        return match ? match.length > 0 : null
      },
    },
  }
</script>

<style>
  .file-viewer-meta-input {
    margin-top: 10px;
  }
</style>
