<template>
  <div style="display: flex; flex-direction: column;">
    <b-field :type="fieldFileType" class="file" style="margin-bottom:10px;">
      <b-upload v-model="file" @input="upload" :accept="fieldAccept">
        <a class="button is-primary">
          <b-icon :icon="uploadButtonIcon" custom-size="default"/>
          <span v-if="uploadButtonText">{{ uploadButtonText }}</span>
        </a>
        <div v-if="fileName" class="control">
          <a class="button is-static is-file-upload-label">
            <span :title="fileName">{{ fileName }}</span>
          </a>
        </div>
      </b-upload>
    </b-field>
    <b-field v-if="fileHref">
      <a class="button is-danger" @click="dropFile">
        <span>Удалить</span>
      </a>
    </b-field>
  </div>

</template>

<script>
  import each from 'lodash/each'
  import {api} from '@/common'
  import BField from "buefy/src/components/field/Field";

  export default {
    name: 'FilePicker',
    components: {BField},
    props: {
      label: {
        type: String,
        default: null,
      },
      accept: {
        type: String,
        default: null
      },
      message: {
        type: String,
        default: null,
      },
      currentFile: {
        default: null
      },
      model: {
        default: null
      },
      id: {
        default: null
      },
      name: {
        default: null
      },
      href: {
        default: null
      },
      value: {
        default: null
      },
      protected: {
        default: false
      },
      required: {
        default: false
      },
      withSeo:false
    },
    data() {
      return {
        errors: {},
        file: null,
        uploadedHref: null,
        uploadedPath: null,
        uploadPercent: 0,
        isUploadSuccess: false,
        deleteFile: false,
      }
    },
    computed: {
      fieldFileMessage() {
        if (this.errors.file) {
          return this.errors.file[0]
        }

        if (this.isUploadSuccess) {
          return 'Файл загружен. Сохраните чтобы применить.'
        }

        if (this.uploadPercent) {
          return `Uploading ${this.uploadPercent}%`
        }
        return this.message
      },
      fieldAccept() {
        return this.accept ? this.accept.replace(/\|/g, ",") : null
      },
      fileHref() {
        return this.uploadedHref ? this.uploadedHref : this.href
      },
      fileType() {
        return this.fileHref.split(".").pop()
      },
      isImage() {
        return this.fileType.toLowerCase().match(/(jpg|jpeg|png|gif)/)
      },
      uploadButtonText() {
        return (this.fileName) ? null : 'Загрузить'
      },
      uploadButtonIcon() {
        return (this.fileName) ? 'cloud-sync' : 'cloud-upload'
      },
      fieldFileType() {
        return (this.errors.file) ? 'is-danger' : null
      },
      fileName() {
        if (this.file) {
          return this.file.name
        }

        if (this.currentFile) {
          return this.currentFile
        }

        return null
      }
    },
    methods: {
      upload(file) {
        this.errors = {}
        let action = 'fileUpload';
        let formData = new FormData()
        formData.append('file', this.file)
        if (this.protected)
          action = 'protectedFileUpload'
        this.isUploadSuccess = false

        api
          .post('/tables/' + this.model + '/' + action, formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            },
            onUploadProgress: this.progressEvent
          })
          .then(r => {
            this.isUploadSuccess = true

            // Display success data & then drop it after a little while
            // setTimeout(() => {
            //   this.file = null
            //   this.isUploadSuccess = false
            //   this.uploadPercent = 0
            // }, 1500)

            this.uploadedPath = r.data.path;
            this.uploadedHref = r.data.href;
            let data
            if (this.withSeo)
              data = {src: r.data.path, title: null, alt: null}
            else
              data = r.data.path
            this.$emit('input', data)
          })
          .catch(err => {
            this.file = null
            this.uploadPercent = 0

            if (err.response.data.errors) {
              this.errors = err.response.data.errors
            } else {
              this.errors = {
                _all: ['Upload error']
              }
            }
            each(this.errors, err => {
              this.$buefy.toast.open({
                message: err[0],
                type: 'is-danger',
                queue: false,
              })
            })
          })
      },
      dropFile() {
        this.file = null
        this.isUploadSuccess = false
        this.uploadPercent = 0
        this.deleteFile = true
        this.uploadedHref = null
        this.$emit('input', null)
      },
      progressEvent(progressEvent) {
        this.uploadPercent = Math.round((progressEvent.loaded * 100) / progressEvent.total)
      }
    }
  }
</script>
