<template>
  <div v-sortable="sortableOptions" ref="sortable">
    <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"
                  v-on:vdropzone-success="vdropzoneSuccess"
                  v-on:vdropzone-removed-file="vdropzoneRemove"
                  v-on:vdropzone-thumbnail="vdropzoneThumbnail"
                  v-on:vdropzone-file-added="addedFile"

    ></vue-dropzone>
  </div>
</template>

<script>
  import {api} from '@/common'
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'
  import Sortable from 'sortablejs'

  const createSortable = (el, options, vnode) => {
    return Sortable.create(el, {
      ...options,
      onStart: function (/**Event*/evt) {
        const elements = el.querySelectorAll('.dz-preview')
        this.el.classList.add('is-dragging');

      },
      onEnd: function (/**Event*/evt) {
        this.el.classList.remove('is-dragging');
        const data = vnode.context.uploadedFiles
        const item = data[evt.oldDraggableIndex]
        if (evt.newDraggableIndex > evt.oldDraggableIndex) {
          for (let i = evt.oldDraggableIndex; i < evt.newDraggableIndex; i++) {
            data[i] = data[i + 1]
          }
        } else {
          for (let i = evt.oldDraggableIndex; i > evt.newDraggableIndex; i--) {
            data[i] = data[i - 1]
          }
        }
        data[evt.newDraggableIndex] = item
        vnode.context.uploadedFiles = data;
        vnode.context.updateModel();
      }
    })
  }

  const sortable = {
    name: 'sortable',
    bind(el, binding, vnode) {
      const container = el.querySelector('.vue-dropzone')
      container._sortable = createSortable(container, binding.value, vnode)
    },
    update(el, binding, vnode) {
      const container = el.querySelector('.vue-dropzone')
      container._sortable.destroy()
      container._sortable = createSortable(container, binding.value, vnode)
    },
    unbind(el) {
      const container = el.querySelector('.vue-dropzone')
      container._sortable.destroy()
    }
  }

  export default {
    name: 'GalleryInput',
    directives: {sortable},
    components: {vueDropzone: vue2Dropzone},
    props: {
      value: {
        type: Array,
        default: [],
      },
      model: {
        default: null
      },
      withSeo: false
    },
    data() {
      return {
        sortableOptions: {
          chosenClass: '',
          draggable: '.dz-preview'
        },
        uploadedFiles: [],
        dropzoneOptions: {
          withCredentials: true,
          url: '/admin/tables/' + this.model + '/fileUpload',
          addRemoveLinks: true,
          previewTemplate: this.template(),
          dictDefaultMessage: 'Скиньте файлы сюда',
          dictRemoveFile: 'Удалить',
          dictFallbackMessage: "Your browser does not support drag'n'drop file uploads.",
          dictFallbackText: "Please use the fallback form below to upload your files like in the olden days.",
          dictFileTooBig: "File is too big ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB.",
          dictInvalidFileType: "You can't upload files of this type.",
          dictResponseError: "Server responded with {{statusCode}} code.",
          dictCancelUpload: "Отменить загрузку",
          dictCancelUploadConfirmation: "Отменить загрузку?",
          dictMaxFilesExceeded: "Достигнут макимум файлов",
          params: (files, xsr) => {
            xsr.setRequestHeader('X-CSRF-TOKEN', this.csrf_token)
          }
        }
      }
    },
    computed: {
      csrf_token() {
        return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      },
    },
    created() {
      this.uploadedFiles = this.value ? this.value : [];
    },
    mounted() {
      this.uploadedFiles.map((uploadedFile) => {
        let fullhref
        if (this.withSeo)
          fullhref = uploadedFile.src;
        else
          fullhref = uploadedFile;

        if (this.fileIsImage(fullhref)) {
          if (fullhref.substring(0, 4) !== 'http')
            fullhref = '/storage/' + fullhref
        } else {
          fullhref = '/packages/cdonut/vueadmin/images/file-icon.png'
        }

        let file
        if (this.withSeo)
          file = {
            name: uploadedFile.src.split("/").pop(),
            size: null,
            path: uploadedFile.src ? uploadedFile.src : null,
            alt: uploadedFile.alt ? uploadedFile.alt : null,
            title: uploadedFile.title ? uploadedFile.title : null
          }
        else
          file = {
            name: uploadedFile.split("/").pop(),
            size: null,
            path: uploadedFile ? uploadedFile : null,
          }
        this.$refs.myVueDropzone.manuallyAddFile(file, fullhref);
      })
    },
    methods: {
      template: function () {
        let template = `
            <div class="dz-preview">
                <div class="dz-image-preview">
                    <div class="dz-image">
                        <img data-dz-thumbnail src="/packages/cdonut/vueadmin/images/file-icon.png"/>
                    </div>
                    <div class="dz-details">
                        <div class="dz-size"><span data-dz-size></span></div>
                        <div class="dz-filename"><span data-dz-name></span></div>
                    </div>
                    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                    <div class="dz-error-message"><span data-dz-errormessage></span></div>
                    <div class="dz-success-mark"><i class="fa fa-check"></i></div>
                    <div class="dz-error-mark"><i class="fa fa-close"></i></div>
                    <a class="dz-remove" href="javascript:undefined;" data-dz-remove="">Удалить</a>
                    <a href download class="dz-download">Скачать</a>
                </div>
           `
        if (this.withSeo)
          template = template +
            `<div class="dz-meta-inputs">
             <input type="text" class="dz-alt-input" @input="changeAlt" placeholder="alt">
             <input type="text" class="dz-title-input" placeholder="title">
             </div>`
        template = template + `</div>`
        return template
      },
      addedFile(file) {
        if(this.withSeo){
          let altInput = file.previewElement.querySelector(".dz-alt-input")
          altInput.value = file.alt ? file.alt : null
          altInput.oninput = (event) => {
            this.changeAlt(file, event.target.value)
          }
          let titleInput = file.previewElement.querySelector(".dz-title-input")
          titleInput.value = file.title ? file.title : null
          titleInput.oninput = (event) => {
            this.changeTitle(file, event.target.value)
          }
        }
      },
      vdropzoneSuccess(file, response) {
        file.path = response.path;
        if (this.withSeo)
          this.uploadedFiles.push({
            src: response.path,
            title: file.title ? file.title : null,
            alt: file.alt ? file.alt : null
          })
        else
          this.uploadedFiles.push(response.path)

        this.updateModel()
        let ref = file.previewElement.querySelector("[data-dz-thumbnail]");
        if (file.path && this.fileIsImage(file.path))
          ref.src = '/storage/' + file.path
        let downloadLink = file.previewElement.querySelector(".dz-download")
        downloadLink.download = file.name
        downloadLink.href = '/storage/' + file.path
      },
      vdropzoneThumbnail(file, dataUrl) {
        if (file.previewElement) {
          let thumbnailElement = file.previewElement.querySelector("[data-dz-thumbnail]");
          if (file.path && this.fileIsImage(file.path)) {
            thumbnailElement.src = file.path.substring(0, 4) !== 'http' ? '/storage/' + file.path : file.path
          }

          thumbnailElement.alt = file.name;
          let downloadLink = file.previewElement.querySelector(".dz-download")
          downloadLink.download = file.name
          downloadLink.href = '/storage/' + file.path

        }
      },
      vdropzoneRemove(file, response) {
        let index = this.getUploadedByFile(file, true)
        if (index !== -1) this.uploadedFiles.splice(index, 1)
        this.updateModel()
      },
      changeAlt(file, value) {
        let uploadedFile = this.getUploadedByFile(file)
        if (uploadedFile !== -1)
          uploadedFile.alt = value;
        this.updateModel();
      },
      changeTitle(file, value) {
        let uploadedFile = this.getUploadedByFile(file)
        if (uploadedFile !== -1)
          uploadedFile.title = value;
        this.updateModel();
      },
      updateModel() {
        this.$emit('input', this.uploadedFiles)
      },
      fileIsImage(filename) {
        filename = filename.toLowerCase();
        let ext = filename.split('.').pop();
        return (ext == 'png' || ext == 'jpg' || ext == 'jpeg')
      },
      getUploadedByFile(file, returnIndex = false) {
        for (var i = 0; i < this.uploadedFiles.length; i += 1) {
          if(this.withSeo){
            if (this.uploadedFiles[i].src === file.path) {
              if (returnIndex)
                return i
              return this.uploadedFiles[i];
            }
          }else{
            if (this.uploadedFiles[i] === file.path) {
              if (returnIndex)
                return i
              return this.uploadedFiles[i];
            }
          }


        }
        return -1;
      }
    }
  }

</script>
