<template>
    <div  class="json-field-wrap">
        <template v-if="json !== null && multiple && Array.isArray(json)">
            <b-field

                grouped
                :key="index"
                v-for="(item, index) in json"
                style="margin-bottom: 10px"
            >
                <template v-for="(field, key) in fields">
                    <b-field

                        :key="index - key"
                        :label="field.label"
                        label-position="on-border"
                    >
                        <b-input
                            :name="field.name"
                            :required="field.required == true"
                            autocomplete="off"
                            :type="field.type"
                            :value="item[field.name]"
                            :style="
                                field.width ? `width:${field.width}px;` : ''
                            "
                            @input="onInput($event, field.name, index)"
                        />
                    </b-field>
                </template>
                <div
                    class="remove"
                    v-if="count > min"
                    @click="removeItem(index)"
                >
                    <b-icon icon="minus-circle" type="is-danger" />
                </div>
            </b-field>
        </template>
        <template v-else-if="json !== null">
            <b-field grouped style="margin-bottom: 10px">
                <template v-for="(field, key) in fields">
                    <b-field
                        :key="key"
                        :label="field.label"
                        label-position="on-border"
                    >
                        <b-input
                            :name="field.name"
                            :required="field.required == true"
                            autocomplete="off"
                            :type="field.type"
                            :value="json[field.name]"
                            :style="
                                field.width ? `width:${field.width}px;` : ''
                            "
                            @input="onInput($event, field.name, null)"
                        />
                    </b-field>
                </template>
                <div
                    class="remove"
                    v-if="count > min"
                    @click="removeItem(null)"
                >
                    <b-icon icon="minus-circle" type="is-danger" />
                </div>
            </b-field>
        </template>
        <div class="add" v-if="count < max || max == null" @click="addItem()">
            <b-icon icon="plus-circle" type="is-primary" />
        </div>
    </div>
</template>

<style scoped>
.remove {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.add {
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.json-field-wrap {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgba(24, 28, 33, 0.06);
}
</style>

<script>
import BField from "buefy/src/components/field/Field";

export default {
    name: "JsonInput",
    components: { BField },
    props: {
        field: {
            type: Object,
            default: null,
        },
    },
    data() {
        return {
            multiple: false,
            count: 0,
            json: null,
            fields: null,
            multiple: false,
            min: 0,
            max: null,
            schema: {},
        };
    },
    computed: {},
    mounted() {
        this.min = this.field.schema.min ? this.field.schema.min : 0;
        this.max = this.field.schema.max ? this.field.schema.max : null;
        this.fields = this.field.schema.fields;
        this.multiple = this.field.schema.multiple
            ? this.field.schema.multiple
            : false;

        this.fields.map((field) => {
            this.schema[field.name] = field.hasOwnProperty("value")
                ? field.value
                : null;
        });

        if (this.field.value !== null) {
            this.json = this.field.value;
            if (this.multiple) {
                if (!Array.isArray(this.json)) this.json = [this.json];
                this.count = this.json.length;
            } else this.count = 1;
        } else {
            if (this.multiple) {
                this.json = [];
                if (this.min > 0) console.log("fields", this.fields);
                for (let i = 0; i < this.min; i++) {
                    this.json.push(Object.assign({}, this.schema));
                    this.count++;
                }
            } else if (this.min > 0) {
                this.json = this.schema;
                this.max = 1;
                this.count = 1;
            }
        }
    },
    methods: {
        onInput(data, key, index) {
            if (index === null) this.json[key] = data;
            else this.json[index][key] = data;
            this.$emit("inputChanged", this.json);
        },
        addItem() {
            if (Array.isArray(this.json))
                this.json.push(Object.assign({}, this.schema));
            else this.json = Object.assign({}, this.schema);
            this.count++;
            this.$emit("inputChanged", this.json);
        },
        removeItem(index) {
            if (index === null) this.json = null;
            else this.json.splice(index, 1);
            this.count--;
            this.$emit("inputChanged", this.json);
        },
    },
};
</script>
