<template>
    <div>
        <!--<b-input type="text" :v-model="coordsInput" autocomplete="off" style="margin-bottom: 10px;"/>-->
        <b-autocomplete v-model="saloon.address" :data="geocodes" field="address" :loading="geoCodesLoading"
                        @input="searchAddress" @select="chooseAddress"
                        name="address" style="margin-bottom: 10px;">
            <template slot-scope="props">
                <div>{{ props.option.address }}</div>
            </template>
        </b-autocomplete>
        <yandex-map
                :coords="[saloon.latitude, saloon.longitude]"
                zoom="7"
                :settings="settings"
                style="width: 100%; height: 400px;"
                :placemarks="placemarks"
                :controls="[]"
        >
        </yandex-map>

    </div>
</template>

<script>
    import {api} from '@/common'
    import BField from "buefy/src/components/field/Field";
    import {yandexMap, ymapMarker} from 'vue-yandex-maps'
    import debounce from 'debounce';
    import axios from 'axios';

    export default {
        name: 'MapField',
        components: {BField, yandexMap, ymapMarker},
        props: {
            field: {
                type: Object,
                default: null
            },

        },
        data() {
            return {
                geocodes: [],
                saloon: {
                    address: null,
                    latitude: 55.755814,
                    longitude: 37.617635
                },
                placemarks: [],
                address: null,
                geoCodesLoading: false,
                settings: {
                    apiKey: this.$store.getters.YANDEX_GEO_KEY,
                    lang: 'ru_RU',
                    coordorder: 'latlong',
                    version: '2.1'
                }
            }
        },
        computed: {
            coordsInput: {
                get() {
                    return this.coords.join(', ')
                },
                set(value) {
                    return value.split(',')
                }

            }
        },
        created() {
            if (this.field.value) {
                this.saloon = JSON.parse(this.field.value)
                this.placemarks = [{coords: [this.saloon.latitude, this.saloon.longitude]}];
            }
        },
        methods: {
            searchAddress: debounce(async function () {
                this.geoCodesLoading = true;
                let response = await fetch(`https://geocode-maps.yandex.ru/1.x/?apikey=694cb8dc-3ca3-4a77-ad9d-1ea5b5dc131a&format=json&geocode=${this.saloon.address}`)
                let data = null
                if (response.ok) {
                    data = await response.json()
                }
                this.geocodes = data.response.GeoObjectCollection.featureMember.map(member => {
                    return {
                        address: member.GeoObject.metaDataProperty.GeocoderMetaData.Address.formatted,
                        latitude: member.GeoObject.Point.pos.split(' ')[1],
                        longitude: member.GeoObject.Point.pos.split(' ')[0]
                    }
                });

                this.geoCodesLoading = false;

            }, 500),
            chooseAddress(geocode) {
                if (geocode) {
                    this.saloon.latitude = geocode.latitude;
                    this.saloon.longitude = geocode.longitude;
                    this.saloon.address = geocode.address;
                    this.placemarks = [{coords: [this.saloon.latitude, this.saloon.longitude]}];
                }
                this.$emit('coordsIsSet', this.saloon)
            },
            changeCoords() {
                this.placemarks = [{coords: [this.saloon.latitude, this.saloon.longitude]}];
            }
        }
    }
</script>
