<template>
    <nav v-show="isNavBarVisible" id="navbar-main" class="navbar is-fixed-top">
        <div class="navbar-brand">
            <a class="navbar-item is-hidden-desktop" @click.prevent="menuToggleMobile">
                <b-icon :icon="menuToggleMobileIcon"/>
            </a>
            <div class="navbar-item">
                <!--<div class="control">-->
                    <!--<input class="input" placeholder="Поиск">-->
                <!--</div>-->
            </div>
        </div>
        <div class="navbar-brand is-right">
            <a class="navbar-item navbar-item-menu-toggle is-hidden-desktop" @click.prevent="menuNavBarToggle">
                <b-icon :icon="menuNavBarToggleIcon" custom-size="default"/>
            </a>
        </div>
        <div class="navbar-menu fadeIn animated faster" :class="{'is-active':isMenuNavBarActive}">
            <div class="navbar-end">
                <nav-bar-menu class="has-divider">
                    <b-icon icon="menu" custom-size="default"/>
                    <span>{{$store.getters.USER.name}}</span>
                    <div slot="dropdown" class="navbar-dropdown">
                        <!--<router-link to="/profile" class="navbar-item" exact-active-class="is-active">-->
                            <!--<b-icon icon="account" custom-size="default"/>-->
                            <!--<span>Профиль</span>-->
                        <!--</router-link>-->
                        <!--<a class="navbar-item">-->
                            <!--<b-icon icon="settings" custom-size="default"/>-->
                            <!--<span>Настройки</span>-->
                        <!--</a>-->
                        <!--<hr class="navbar-divider">-->
                        <a class="navbar-item" href="/admin/logout">
                            <b-icon icon="logout" custom-size="default"/>
                            <span>Выход</span>
                        </a>
                    </div>
                </nav-bar-menu>
            </div>
        </div>
    </nav>
</template>

<script>
    import {mapState} from 'vuex'
    import NavBarMenu from '@/components/NavBarMenu'
    import UserAvatar from '@/components/UserAvatar'

    export default {
        name: 'NavBar',
        components: {
            UserAvatar,
            NavBarMenu
        },
        data() {
            return {
                isMenuNavBarActive: false
            }
        },
        computed: {
            menuNavBarToggleIcon() {
                return (this.isMenuNavBarActive) ? 'close' : 'dots-vertical'
            },
            menuToggleMobileIcon() {
                return this.isAsideMobileExpanded ? 'backburger' : 'forwardburger'
            },
            ...mapState([
                'isNavBarVisible',
                'isAsideMobileExpanded',
                'userName'
            ])
        },
        methods: {
            menuToggleMobile() {
                this.$store.commit('asideMobileStateToggle')
            },
            menuNavBarToggle() {
                this.isMenuNavBarActive = (!this.isMenuNavBarActive)
            },
            logout() {

            }
        }
    }
</script>
