<template>
    <b-field style="flex-direction: column;">
        <div v-for="(name, index) in names" :key="index">
            <a v-if="href" :href="href+'/'+name.id" target="_blank">{{name.name ? name.name : '...'}}</a>
            <span v-else>{{name.name ? name.name : '...'}}</span>
        </div>
    </b-field>
</template>

<script>
    import {api} from '@/common'
    import BField from "buefy/src/components/field/Field";

    export default {
        name: 'RelationViewer',
        components: {BField},
        props: {
            field: {
                type: Object,
                default: null,
            },
            value: {
                default: null,
            },
        },
        data() {
            return {
                href: null
            }
        },
        computed: {
            style() {
                return 'margin: auto; ' + (this.maxWidth ? 'max-width:' + this.maxWidth + ';' : '');
            },
            isArray() {
                return Array.isArray(this.value)
            },
            names() {
                let names = []
                if (this.isArray) {
                    this.field.values.map(item => {
                        if (this.value.includes(item.id)) {
                            names.push({name: item.value ? item.value : item.name, id: item.id});
                        }

                    })
                } else {
                    this.field.values.map(item => {
                        if (this.value === item.id) {
                            names.push({name: item.value ? item.value : item.name, id: item.id});
                        }

                    })
                }
                return names;
            },
        },
        mounted() {
            let modelData = this.$store.getters.MODELS.find((item) => {
                return this.field.relationModel === item.model
            })
            this.href = modelData ? '/admin' + modelData.path : null
        }
    }
</script>
