<template>
    <b-taginput
            :value="tags"
            :data="filteredTags"
            @input="onInput"
            autocomplete
            :maxtags="maxTags"
            :open-on-focus="true"
            ref="taginput"
            :disabled="field.editable==false"
            icon="label"
            placeholder="Добавить"
            @typing="getFilteredTags">
        <template slot-scope="props">
            <strong>{{props.option.id}}</strong>: {{props.option.tagField}}
        </template>
        <template slot="empty">
            Пусто...
        </template>
        <template slot="selected" slot-scope="props">
            <b-tag
                    v-for="(tag, index) in props.tags"
                    :key="index"
                    :tabstop="false"
                    :closable="field.editable!==false"
                    @close="$refs.taginput.removeTag(index, $event)">
                <a v-if="href" :href="href+'/'+tag.id" target="_blank">{{tag.tagField?tag.tagField:'...'}}</a>
                <span v-else>{{tag.tagField?tag.tagField:'...'}}</span>
            </b-tag>
        </template>
    </b-taginput>
</template>

<script>
    import {api} from '@/common'
    import BField from "buefy/src/components/field/Field";

    export default {
        name: 'RelationInput',
        components: {BField},
        props: {
            field: {
                type: Object,
                default: null,
            }
        },
        data() {
            return {
                filteredTags: [],
                isSelectOnly: false,
                href: null
            }
        },
        computed: {
            values() {
                return this.field.values.map((item) => {
                    item.tagField = item.value ? (item.name ? (item.name + ': ' + item.value) : item.value) : item.name;
                    return item;
                })
            },
            value() {
                return this.field.value
            },
            tags() {
                if (Array.isArray(this.field.value)) {
                    return this.values.filter(item => {
                        return this.value.includes(item.id)
                    })
                } else {
                    return this.values.filter(item => {
                        return item.id === this.value
                    })
                }
            },
            maxTags() {
                return this.field.relationCount ? this.field.relationCount : null
            },
        },
        mounted() {
            let modelData = this.$store.getters.MODELS.find((item) => {
                return this.field.relationModel === item.model
            })
            this.href = modelData ? '/admin' + modelData.path : null
            this.filteredTags = this.values
        },
        methods: {
            getFilteredTags(text) {
                this.filteredTags = this.values.filter((option) => {
                    return option.tagField
                        .toString()
                        .toLowerCase()
                        .indexOf(text.toLowerCase()) >= 0
                })
            },
            onInput(data) {
                let ids = data.map(val => {
                    return val.id
                })
                this.fieldMessage = ""
                if (ids.length === 1)
                    ids = ids[0];
                if (ids.length === 0)
                    ids = null
                 this.$emit('inputChanged', ids)

            }
        }
    }
</script>
