<template>
    <section class="section is-title-bar">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <ul>
                        <li v-for="(title,index) in titleStack" :key="index" v-html="title"></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'TitleBar',
        props: {
            titleStack: {
                type: Array,
                default: () => []
            }
        }
    }
</script>
