<template>
    <div>
        <div v-html="$attrs.value" v-if="$attrs.disabled==true"
             style="all:initial; border: 1px solid #dbdbdb; border-radius: 4px; "></div>
        <Editor v-bind="$attrs" v-on="$listeners" v-else :init="{
         height: 500,
         menubar: false,
         language: 'ru',
         plugins: [
           'advlist autolink lists link image charmap print preview anchor',
           'searchreplace visualblocks code fullscreen',
           'insertdatetime media table advtable paste code help wordcount image imagetools'
         ],
         imagetools_toolbar: 'rotateleft rotateright | flipv fliph | editimage imageoptions',
          image_title: true,
          /* enable automatic uploads of images represented by blob or data URIs*/
          automatic_uploads: true,

          images_reuse_filename:true,
          relative_urls : false,
          remove_script_host : false,
          /*
            URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
            images_upload_url: 'postAcceptor.php',
            here we add custom filepicker only to Image dialog
          */
          file_picker_types: 'image',
          /* and here's our custom image picker*/
          file_picker_callback:filePicker,
          images_upload_handler:uploadHandler,
         toolbar:
           'undo redo | formatselect | bold italic backcolor | \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist outdent indent | removeformat | table | image | code'
       }"></Editor>
    </div>
</template>

<script>
    import {api} from '@/common'
    import Editor from '@tinymce/tinymce-vue'

    export default {
        name: 'FileViewer',
        components: {Editor},
        data() {
            return {}
        },
        created() {
        },
        methods: {
            filePicker(cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                /*
                  Note: In modern browsers input[type="file"] is functional without
                  even adding it to the DOM, but that might not be the case in some older
                  or quirky browsers like IE, so you might want to add it to the DOM
                  just in case, and visually hide it. And do not forget do remove it
                  once you do not need it anymore.
                */

                input.onchange = function () {
                    var file = this.files[0];

                    var reader = new FileReader();
                    reader.onload = function () {
                        /*
                          Note: Now we need to register the blob in TinyMCEs image blob
                          registry. In the next release this part hopefully won't be
                          necessary, as we are looking to handle it internally.
                        */
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);

                        /* call the callback and populate the Title field with the file name */
                        cb(blobInfo.blobUri(), {title: file.name});
                    };
                    reader.readAsDataURL(file);
                };

                input.click();
            },
            uploadHandler(blobInfo, success, failure, progress) {
                let data = new FormData();
                data.append('file', blobInfo.blob(), blobInfo.filename());
                api.post('/public_files/tinymce/upload', data)
                    .then(function (res) {
                        success(res.data.location);
                    })
                    .catch(function (err) {
                        failure('HTTP Error: ' + err.message);
                    });
            }
        }
    }
</script>

<style>
    .tox-notifications-container {
        display: none !important;
    }

    .tox-statusbar__branding {
        display: none !important;
    }
</style>