<template>
    <div id="app">
        <nav-bar/>
        <aside-menu :menu="$store.getters.MENU"/>
        <router-view :key="$route.fullPath"/>
    </div>
</template>

<script>
    // @ is an alias to /src
    import NavBar from '@/components/NavBar'
    import AsideMenu from '@/components/AsideMenu'
    import FooterBar from '@/components/FooterBar'
    import {api} from '@/common'

    export default {
        name: 'home',
        components: {
            FooterBar,
            AsideMenu,
            NavBar
        },
        methods: {},
        created() {
            this.$store.commit('admin_title', window.admin_title)
            this.$store.commit('yandex_geo_key', window.yandex_geo_key)
            this.$store.commit('menu', window.menu)
            this.$store.commit('user', window.user)
            this.$store.commit('models', window.models)
        },
    }
</script>
